.layerswitcher-opacity {	
    display:none;
}
.ol-control.ol-bar.ol-top.ol-left, .ol-control.ol-bar.ol-top.ol-right, .ol-touch .ol-control.ol-bar.ol-top.ol-left{
    top: 6.5em;
}
.ol-control .ol-bar button{ 
    height: 2.5em !important;
    width: 2em !important;
}
.ol-control button{ 
    height: 1.5em !important;
    width: 1.5em !important;
}	
.ol-touch .ol-control button {
    font-size: 1.14em;
}
.ol-popup {
    padding: 0px 10px 10px 10px;
}
.ol-popup-content h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
.ol-attribution ul{
    font-size: 1rem!important;
}
.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top-color: #ffcc33;
}
.panel {
    background-color: #1a2c43;
}
.ol-layerswitcher .panel li label {
    color: white;
    font-size: 1.1em;
}
.ol-overlay.menu{	
    width: 20em;
    background: #fff;
    color: #333;
    box-shadow: 0px 0px 5px #000;
    padding: 0.5em;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    left: auto;
    right: 0em;
    overflow-y: auto;
}
.routing-button{
    position: relative;
    width: 6em;
    left: 4.5em;
}
#routeMenu ol{
    font-size: 12.5px;
    margin-left: -10px;
}
.info-button{
    display: block;
    width: 100%;
      margin-left: auto;
      margin-right: auto;
}
.btn{
    border-radius: 5px;
}
.none{
    display: none;
}
.ol-overlay.legend{	
    width: 40em;
    height: 16em;
    background: rgba(255,255,255,0.6);
    color: #333;
    box-shadow: 0px 0px 5px #000;
    padding: 0.5em;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    left: 5em;
    right: 0em;
    top: auto;
    overflow-y: hidden;
    border-radius: 5px;
}		
@media (max-width: 767px) {
    .ol-overlay.legend{	
        width: 12em;
        overflow-y: scroll;
    }
}
.ol-overlay.legend h3{
    margin-top: 5px;	
}
.ol-full-screen {
    left: 0.5em;
    top: 4.25em;
    right: auto;
}
.modal-body p{
    color: #000 !important;
    text-align: justify;
    text-indent: 2em;
}

.ol-control.ol-layerswitcher .panel {
    background-color: #7a97bb !important;
}

#story img {
    display: block;
    margin: auto;
    max-width: 100%;
}
#story .chapter {
    opacity: .4;
    transition: .3s;
    background-color: transparent;
    padding: .5em;
}
#story .chapter.select {
    opacity: 1;
    background-color: rgba(255,255,255,.8);
}
.options a {
    cursor: pointer;
}
#right-bar{
    position: absolute;
    width : 30%;
    height: 100px;
    background-color: rgba(255,255,255,.8);
}
.dropdown .external.layerSwitcher{
    min-width: 260px;
    max-height: calc(90vh - 50px);
    overflow: auto;
}
#story{
    display: none;
}
#story .chapter.start {
    text-align: center;
}
.ol-scroll-next{
    text-align: center;
    font-size: 20px;
}
.ol-scroll-top{
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
}
#story .two-column{
    float: left;
    width: 50%;
}
#story hr{
    clear: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
#story .chapter p {
    margin: 0;
    text-align: justify;
    text-indent: .5cm;
}
.departemen{
    font-size: 12px;
}
#story .img-responsive{
      width: 90%;
    margin: 10px auto 10px auto;
}
#clr-search{ 
    position: absolute;
    color: white;
    float: right;
    right: 10px;
    top: 6px;
    z-index: 2;
}
@media (max-width: 1025px) {
    #clr-search{ 
        top: 10px;
    }
}
.search-form .btn{
    right: 20px;
    z-index: 2;
}
iframe {
    border: none;
    height: 235px;
}